*{
    margin: 0;
    padding: 0;

    font-family: 'Kalam', cursive;
    font-family: 'Berkshire Swash', serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear ;
}
:root{
    --main-color:orange;
    --black:#13131a;
    --bg:#200101;
    --border:.1rem solid rgba(255,255,255,.3);
    --second-bg:rgb(75, 7, 7);  
}
body{
    background-color: rgb(22, 5, 5);
    color: #fff;
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
h2{
    padding: 2%;
    color: orange;
    font-size: 4rem;
    height: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 8rem;
}
.family-history h2{
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
.family-history .container{
    margin: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.family-history .container p{
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: unset;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%
}
.family-history .content{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 2%;
}
.family-history .content p{
    flex-basis: 60%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: unset;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 3rem;
}
.family-history .content img{
    width: 500px;
    height: 430px;
    object-fit: cover;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 50px;
    margin-bottom: 5%;
}
.family-history .content img:hover{
    cursor: pointer;
    box-shadow: 0 0 30px var(--main-color);
    
}

/* ponnachamman section */

.god h2{
    color: #fff;
}

.god .container{
    margin: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.god .container p{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: unset;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 3rem;
    margin-left: 5%;
}
.god .content{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.god .content p{
    flex-basis: 60%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: unset;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 3rem;
}
.god .content img{
    width: 450px;
    height: 550px;
    object-fit: cover;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 50px;
    margin-bottom: 5%;
}
.god .content img:hover{
    cursor: pointer;
    box-shadow: 0 0 30px var(--main-color);
    
}
/* pujas */

.god  .container-2 .content{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.god .container-2 .content p{
    flex-basis: 57%;
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: unset;
    text-align: justify;
    margin-left: 3%;
    
}

.god .container-2 .content img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 50px;
    margin-bottom: 5%;
    margin-right: 3%;
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    margin-left: 3%;
    margin-bottom:2%
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
 

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .family-history .content p{
        flex-basis: 60%;
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .family-history .content img{
        width: 200px;
        height: 195px;
    }
    .god .content p{
        flex-basis: 60%;
        
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .god .content img{
        width: 200px;
        height: 300px;
    }
    
    .god .container-2 .content p{
        flex-basis: 55%;
        font-size: 1rem;
        line-height: 1.7rem;
    }
    
    .god .container-2 .content img{
        width: 230px;
        height: 190px;
    }
    .btn{
        padding: 8px 14px;
        font-size: 10px;
        font-weight: 600;
    }
}

@media(max-width:600px){
    html{
        font-size: 55%;
    }
    
    .family-history .content p{
        flex-basis: 75%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .family-history .content img{
        width: 200px;
        height: 195px;
    }
    .family-history h2{
        height: 13vh;
    }
    .god .content p{
        flex-basis: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .god .content img{
        width: 200px;
        height: 370px;
    }
    
    .god .container-2 .content p{
        flex-basis: 90%;
        font-size: 1rem;
        line-height: 1.7rem;
        margin-right: 5%;
    }
    
    .god .container-2 .content img{
        width: 200px;
        height: 290px;
    }
    .btn{
        padding: 8px 14px;
        font-size: 10px;
        font-weight: 600;
    }
}

@media(max-width:480px){
    html{
        font-size: 50%;
    }
    
    .family-history .content p{
        flex-basis: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .family-history .content img{
        width: 00px;
        height: 195px;
        display: none;
    }
    .family-history h2{
        height: 13vh;
    }
    .god .content p{
        flex-basis: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .god .content img{
        width: 100px;
        height: 300px;
    }
    
    .god .container-2 .content p{
        flex-basis: 90%;
        font-size: 1rem;
        line-height: 1.7rem;
        margin-right: 5%;
    }
    
    .god .container-2 .content img{
        width: 100px;
        height: 290px;
        display: none;
    }
    .btn{
        padding: 8px 14px;
        font-size: 10px;
        font-weight: 600;
    }
}
